In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_path = "C:/Users/Home/College_Basketball_Dataset/cbb.csv"
df = pd.read_csv(file_path)
df.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017

In [3]:
df['CONF'].value_counts()

ACC     102
A10      99
SEC      98
CUSA     98
B10      94
MEAC     90
Slnd     89
MAC      84
OVC      84
P12      84
BSky     82
SB       79
BSth     78
MAAC     76
BE       75
MWC      75
SC       73
NEC      72
CAA      70
MVC      70
SWAC     70
B12      70
WCC      69
Pat      68
Horz     67
Amer     67
BW       64
AE       63
ASun     60
Sum      60
WAC      60
Ivy      56
GWC       5
ind       3
Ind       1
Name: CONF, dtype: int64

In [4]:
# Filtering the data down to PAC12 teams
cbb_teams = df[ (df.CONF == 'P12')].copy()
cbb_teams

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
27,Arizona,P12,38,34,117.5,86.9,0.9700,53.5,45.1,16.5,...,37.3,53.3,42.7,36.0,33.5,66.7,9.0,E8,2.0,2015
28,Oregon,P12,37,30,118.4,96.2,0.9163,52.3,48.9,16.1,...,32.0,52.6,46.1,34.4,36.2,69.0,6.7,E8,1.0,2016
34,Arizona,P12,38,33,116.2,87.4,0.9636,51.7,42.3,15.7,...,34.2,50.7,40.2,36.4,32.0,64.3,9.4,E8,1.0,2014
48,Oregon,P12,38,33,117.8,93.8,0.9321,55.5,46.4,17.1,...,26.3,54.5,46.1,38.0,31.2,68.4,6.0,F4,3.0,2017
1028,Arizona St.,P12,34,18,107.9,97.1,0.7711,50.9,50.2,20.7,...,34.1,49.9,48.6,35.0,36.2,66.3,-3.8,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,Oregon,P12,38,25,108.1,91.7,0.8687,52.0,46.4,17.8,...,33.9,51.6,48.8,35.1,29.0,65.4,-1.1,S16,12.0,2019
2443,UCLA,P12,37,28,119.0,96.6,0.9167,54.1,49.9,14.5,...,35.7,53.0,48.6,38.0,34.4,70.2,4.5,S16,4.0,2014
2445,Stanford,P12,36,23,111.7,96.5,0.8436,51.3,48.0,17.0,...,37.0,49.9,45.8,36.4,34.9,67.2,1.1,S16,10.0,2014
2451,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,...,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0,2013
2452,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,...,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0,2013

In [5]:
cbb_teams[['TEAM']].describe()

           TEAM
count        84
unique       12
top     Arizona
freq          7

In [6]:
# Removing null values specific to "Postseason" and "Seed" and replacing with "Missed Tournament"

cbb_teams.fillna({'POSTSEASON':'Missed Tournament'}, inplace = True)
cbb_teams.POSTSEASON.value_counts(dropna=False)

Missed Tournament    52
R64                  11
S16                   9
R32                   6
E8                    3
R68                   2
F4                    1
Name: POSTSEASON, dtype: int64

In [7]:
cbb_teams.fillna({'SEED':'Missed Tournament'}, inplace = True)
cbb_teams.SEED.value_counts(dropna=False)

Missed Tournament    52
11.0                  5
8.0                   4
3.0                   3
12.0                  3
6.0                   3
4.0                   3
10.0                  3
2.0                   2
1.0                   2
7.0                   2
9.0                   1
5.0                   1
Name: SEED, dtype: int64

In [8]:
cbb_teams.isnull().sum()

TEAM          0
CONF          0
G             0
W             0
ADJOE         0
ADJDE         0
BARTHAG       0
EFG_O         0
EFG_D         0
TOR           0
TORD          0
ORB           0
DRB           0
FTR           0
FTRD          0
2P_O          0
2P_D          0
3P_O          0
3P_D          0
ADJ_T         0
WAB           0
POSTSEASON    0
SEED          0
YEAR          0
dtype: int64

In [9]:
# cbb_teams.to_csv('../College_Basketball_Dataset/PAC12.csv', index = False)